<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img
        src="\assets\img\LOGO.png" alt="" width="30" height="24" class="d-inline-block align-text-top">PACPLAY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">PC GAMER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONSOLES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">JOGOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DESTAQUES</a>
          </li>
        </ul>

        <ul class="navbar-nav md-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="login.html" routerLink="login">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="formulario.html" routerLink="formulario">CADASTRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><input id="Buscar" id="txtBusca" type="text"
                  placeholder="Buscar..." /></a>
            </li>
          </ul>
      </div>
    </div>
  </nav>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="jquery-3.6.0.js"></script>
  
    <script>
      $(document).ready(function () {
        $('#redes').html('REDES SOCIAIS');
      });
      $(document).ready(function () {
        $('#atendi').html('ATENDIMENTO');
      });
    </script>

  
