<div class="container">
    <br>
    <h3 class="galeria">SOBRE</h3>
    <div class="rodape">
  
  
  
      <table class="tabelaRedes">
        <br>
        <td>
          <h4 id="redes"></h4>
        </td>
        
        <td><img src="/assets/img/facebook.png" alt="banner" width=30 height=30>&nbsp;PACPLAY</td>
        
        <td><img src="/assets/img/instagram.webp" alt="banner" width=30 height=30>&nbsp;@PACPLAY</td>
        
        <td><img src="/assets/img/tt.png" alt="banner" width=30 height=30>&nbsp;@PACPLAY</td>
        
      </table>
      <table class="tabelaAtendimento">
        <tr>
          <br>
          <td>
            <h4 id="atendi"></h4>
          </td>
        </tr>
        <tr>
          <td>(xx)xxxx-xxxx</td>
        </tr>
        <tr>
          <td>(xx)xxxxx-xxxx</td>
        </tr>
        <tr>
          <td>pacplay@games.com</td>
        </tr>
      </table>
      <br>
      <img class="selo" src="/assets/img/selow.jpg" alt="banner" width="150" height="130">
    </div>
  </div>
  
  
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="jquery-3.6.0.js"></script>
  
    <script>
      $(document).ready(function () {
        $('#redes').html('REDES SOCIAIS');
      });
      $(document).ready(function () {
        $('#atendi').html('ATENDIMENTO');
      });
    </script>