<div class="container">
    <div>
      <img src="/assets/img/setup.png" alt="banner" width=100% height=400px>
    </div>
  
    <div class="destaque">
      <p class="destaq">DESTAQUES</p>
    </div>
  
  
  
    <div class="slider">
      <div class="slides">
        <!--RADIO BUTTONs-->
        <input type="radio" nome="radio-btn" id="radio1">
        <input type="radio" nome="radio-btn" id="radio2">
          <input type="radio" nome="radio-btn" id="radio3">
        <!--FIM RADIO BUTTONs-->
  
        <!--Slide imagens-->
        <div class="slide first">
          <img src="/assets/img/Gamerbanner.jpg" alt="banner1" height="400px">
        </div>
        <div class="slide">
          <img src="/assets/img/banner2.jpg" alt="banner2" height="400px">
        </div>
        <div class="slide">
          <img src="/assets/img/banner3.webp" alt="banner3" height="400px">
        </div>
        <!--FIM Slide imagens-->
  
        <!--navegação no auto-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
        </div>
      </div>
  
      <div class="manual-navigation">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
      </div>
  
    </div>
  
  
  
   
    <h3 class="galeria">GALERIA</h3>
    <br>
    <div>
      <img class="cpu" src="/assets/img/cpu.webp" alt="banner" width=200 height=200>
      <img class="jogo" src="/assets/img/jogo.png" alt="banner" width=200 height=200>
      <img class="ps5" src="/assets/img/ps5.png" alt="banner" width=200 height=200>
  
    </div>
  </div>    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="script.js"></script>
  <script src="jquery-3.6.0.js"></script>

  <script>
    $(document).ready(function () {
      $('#redes').html('REDES SOCIAIS');
    });
    $(document).ready(function () {
      $('#atendi').html('ATENDIMENTO');
    });
  </script>